.textbox-container {
    display: flex;
  }
  
  .line-numbers {
    width: 30px; /* Ancho de los números de línea */
    padding-right: 5px; /* Espaciado entre los números de línea y el cuadro de texto */
    background-color: #f0f0f0; /* Color de fondo de los números de línea */
    border-right: 1px solid #ccc; /* Línea vertical a la derecha de los números de línea */
    user-select: none; /* Evita que los números de línea se puedan seleccionar */
    font-size: 20px; /* Ajusta este valor según el tamaño deseado para los números de línea */
    line-height: 10px; /* Ajusta este valor según el interlineado deseado entre los números de línea */
  }
  
  .line-numbers div {
    padding: 5px;
  }
  
  .textbox {
    flex: 1; /* Hace que el cuadro de texto ocupe todo el espacio disponible */
    border: none; /* Elimina el borde del cuadro de texto */
    outline: none; /* Elimina el contorno del cuadro de texto */
    font-family: monospace; /* Usa una fuente monoespaciada para que los números de línea se alineen correctamente */
    font-size: 16px; /* Tamaño de fuente del cuadro de texto */
    resize: none; /* Evita que el usuario pueda redimensionar el cuadro de texto */
  }